<div id="shopify-section-feature-row" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;feature-row&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-feature-row {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-feature-row {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-feature-row" class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-feature-row"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/1_180x.jpg?v=1649421867 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_360x.jpg?v=1649421867 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_540x.jpg?v=1649421867 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_720x.jpg?v=1649421867 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_900x.jpg?v=1649421867 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1080x.jpg?v=1649421867 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1296x.jpg?v=1649421867 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1512x.jpg?v=1649421867 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1728x.jpg?v=1649421867 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_2048x.jpg?v=1649421867 2048w"
                            sizes="320px"
                            srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/1_180x.jpg?v=1649421867 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_360x.jpg?v=1649421867 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_540x.jpg?v=1649421867 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_720x.jpg?v=1649421867 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_900x.jpg?v=1649421867 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1080x.jpg?v=1649421867 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1296x.jpg?v=1649421867 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1512x.jpg?v=1649421867 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_1728x.jpg?v=1649421867 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/1_2048x.jpg?v=1649421867 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0554/5607/1758/files/1_600x600@2x.jpg?v=1649421867" alt=""
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.feature-row.title/escape">Foto mit Text</h2>
                <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.feature-row.text">
                    <p>Kombiniere große Schrift mit einem Bild, um den Fokus auf dein Produkt, deine Kategorie oder
                        deinen Blog-Beitrag zu richten. Du kannst außerdem weitere Details über die Verfügbarkeit oder
                        den Stil und sogar eine Bewertung hinzufügen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-16465287267521b629" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;16465287267521b629&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.16465287267521b629.title/escape">Foto mit Text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.16465287267521b629.text">
                    <p>Kombiniere große Schrift mit einem Bild, um den Fokus auf dein Produkt, deine Kategorie oder
                        deinen Blog-Beitrag zu richten. Du kannst außerdem weitere Details über die Verfügbarkeit oder
                        den Stil und sogar eine Bewertung hinzufügen.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-16465287267521b629 {
                        max-width: 645.9259259259259px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-16465287267521b629 {
                        max-width: 645.9259259259259px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-16465287267521b629" class="feature-row__image-wrapper js">
                    <div style="padding-top:84.37500000000001%;">
                        <img id="FeatureRowImage-16465287267521b629"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1851851851851851" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/3_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_2048x.jpg?v=1649421875 2048w"
                            sizes="320px"
                            srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/3_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/3_2048x.jpg?v=1649421875 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0554/5607/1758/files/3_600x600@2x.jpg?v=1649421875" alt=""
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-164652874283bb1caa" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;164652874283bb1caa&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-164652874283bb1caa {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-164652874283bb1caa {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-164652874283bb1caa" class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-164652874283bb1caa"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/2_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_2048x.jpg?v=1649421875 2048w"
                            sizes="320px"
                            srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/2_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/2_2048x.jpg?v=1649421875 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0554/5607/1758/files/2_600x600@2x.jpg?v=1649421875" alt=""
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.164652874283bb1caa.title/escape">Foto mit Text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.164652874283bb1caa.text">
                    <p>Kombiniere große Schrift mit einem Bild, um den Fokus auf dein Produkt, deine Kategorie oder
                        deinen Blog-Beitrag zu richten. Du kannst außerdem weitere Details über die Verfügbarkeit oder
                        den Stil und sogar eine Bewertung hinzufügen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-1649421816d63065df" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;1649421816d63065df&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.1649421816d63065df.title/escape">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.1649421816d63065df.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-1649421816d63065df {
                        max-width: 584.3204697986578px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-1649421816d63065df {
                        max-width: 584.3204697986578px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-1649421816d63065df" class="feature-row__image-wrapper js">
                    <div style="padding-top:93.27073552425665%;">
                        <img id="FeatureRowImage-1649421816d63065df"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.0721476510067114" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/4_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_2048x.jpg?v=1649421875 2048w"
                            sizes="320px"
                            srcset="//cdn.shopify.com/s/files/1/0554/5607/1758/files/4_180x.jpg?v=1649421875 180w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_360x.jpg?v=1649421875 360w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_540x.jpg?v=1649421875 540w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_720x.jpg?v=1649421875 720w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_900x.jpg?v=1649421875 900w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1080x.jpg?v=1649421875 1080w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1296x.jpg?v=1649421875 1296w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1512x.jpg?v=1649421875 1512w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_1728x.jpg?v=1649421875 1728w, //cdn.shopify.com/s/files/1/0554/5607/1758/files/4_2048x.jpg?v=1649421875 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0554/5607/1758/files/4_600x600@2x.jpg?v=1649421875" alt=""
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>
</div>